
body{
    font-family: 'Open Sans', sans-serif;
    

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    
    
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}
nav > ul{
    display: flex; 
    align-items: center;
    margin: 0px 200px;
      
}
nav li{
    list-style: none;
    margin-right: 50px;
    text-align: center;
    

}
.btn-primary{
    border-radius: 3px;
    background: #FD6E0A;
    border: 0px;
    font-size: 20px;
    font-weight: 300;
    color: white;
    padding: 15px ;
    

}

.text-primary{
    color: #e7811b;
}
.header{
    background-color: #d6c9bc;
    background-image:url('./images/header_bg.png'), url(./images/developer.png);
    
    background-repeat: no-repeat;
    background-position: bottom right , top left 10px;

    
    
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    
}
.banner.profile-pic{
    width: 500px;
    height: 600px;
    margin-left: 200px;
    margin-bottom: 0px;
}
.banner-contant{
    margin-left: 20px;

}
.about{
    color: var(--dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    

}
.section-title{
    color: var(--dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}
.section-description{

    color: var(--dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.main{
    max-width: 1140px;
    margin: 0px auto;

}
.img-developer{
    justify-content: left;
    
}
.info-about-container{
    display: flex;
    justify-content: space-between;
}
.about-info{
    text-align: center;
}
.skills-container{
    display: flex;
    text-align: center;

}
.resume-container{
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 50px;
    
}
.resume-header{
    text-align: center;
}
.download-cv{
    text-align: center;
}
.footer-last{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.contact-text{
   
}
